table, td, th {
  text-align: left;
  font-size: 95%;
}

.badrule {
  color: red;
}

.goodrule {
  color: green;
}
.summarylabel {
  padding: 30px;
  font-size: 80%;
}

.legend {
  text-indent: 16px;
  line-height: 24px;
  width: 50%;
  # list-style: box;
}
.title {
  text-align: left;
}

.badge-success {
  background-color: #8CC152;
}
.badge-failed {
  background-color: #E9573F;
}
.badge-tcp {
  background-color: #D770AD;
}
.badge-udp {
  background-color: #967ADC;
}
.badge-icmp {
  background-color: #37BC9B;
}
