{% extends "firewalls/base.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-5">

      <ul class="list-group">
        <li class="list-group-item">Version : 0.1</li>
        <li class="list-group-item">Powered By : Python Django</li>
        <li class="list-group-item">Developers : Ranjan & Sebin</li>
        <li class="list-group-item">Issues : <a href="https://github.com/Ranjandas/firewallmanager">https://github.com/Ranjandas/firewallmanager</a></li>

      </ul>

    </div>
  </div>

</div>


{% endblock %}
