<!DOCTYPE html>
{% load staticfiles%}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>

		<!-- Bootstrap -->
		<!-- <link href="css/site.min.css" rel="stylesheet"> -->
		<link href="{% static 'firewalls/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
		<script src="{% static 'firewalls/js/Chart.js' %}" type="text/javascript"></script>
		<link href="{% static 'firewalls/css/my.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'firewalls/vis/dist/vis.css' %}">
		<script src="{% static 'firewalls/vis/dist/vis.js' %}" rel="text/javascript"></script>
		<!-- Loading FontAwesome -->
		<link rel="stylesheet" href="{% static 'firewalls/fa/css/font-awesome.min.css' %}">


		<!-- loading bootstrap table -->
		<script src="{% static 'firewalls/js/jquery.min.js' %}"></script>

		<script src="{% static 'firewalls/bootstraptable/bootstrap-table.min.js' %}" rel="text/javascript"></script>
		<script src="{% static 'firewalls/bootstraptable/extensions/filter/bootstrap-table-filter.min.js' %}" rel="text/javascript"></script>
		<script src="{% static 'firewalls/bootstraptable/extensions/export/bootstrap-table-export.min.js' %}" rel="text/javascript"></script>
		<script src="{% static 'firewalls/tableExport/tableExport.js' %}" rel="text/javascript"></script>
		<script src="{% static 'firewalls/tableExport/jquery.base64.js' %}" rel="text/javascript"></script>
		<script src="{% static 'firewalls/tableFilter/src/bootstrap-table-filter.js' %}" rel="text/javascript"></script>
		<script src="{% static 'firewalls/tableFilter/src/ext/bs-table.js' %}" rel="text/javascript"></script>
		<link href="{% static 'firewalls/tableFilter/src/bootstrap-table-filter.css' %}" rel="stylesheet">
		<link href="{% static 'firewalls/bootstraptable/bootstrap-table.min.css' %}" rel="stylesheet">




		<!-- <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"> -->

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><span class="glyphicon glyphicon glyphicon-fire" aria-hidden="true"></span>&nbsp; KickBack</a>
				</div>
			</div><!-- /.container-fluid -->
		</nav>

		<!-- <div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-success alert-dismissible">
						<button type="button" class="close" aria-hidden="true" data-dismiss="alert">
							x
						</button>
						<strong>Headsup!!</strong>&nbsp;This is a test message
					</div>
				</div>

			</div>
		</div> -->

	</div>

	{% block body %}{% endblock %}



	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{% static 'firewalls/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'firewalls/js/trigger.js' %}"></script>

	</script>
</body>
</html>
