{% extends 'firewalls/base.html' %}

{% block sidebar %}
<!-- Sidebar Menu -->
<ul class="sidebar-menu">
  <li class="header">MAIN NAVIGATION</li>
  <!-- Optionally, you can add icons to the links -->
  <li class="active"><a href="/"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
  <li><a href="/rule/list"><i class="fa fa-fire"></i><span>Rules</span></a></li>
  <li><a href="/host/list"><i class="fa fa-server"></i><span>Hosts</span></a></li>
  <li><a href="/cluster/list"><i class="fa fa-cubes"></i><span>Clusters</span></a></li>
  <li><a href="/location/list"><i class="fa fa-globe"></i><span>Locations</span></a></li>
  <li><a href="/about"><i class="fa fa-info"></i><span>About</span></a></li>
  <!-- <li><a href="#"><span>Another Link</span></a></li>
  <li class="treeview">
    <a href="#"><span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="#">Link in level 2</a></li>
      <li><a href="#">Link in level 2</a></li>
    </ul>
  </li>
</ul><!-- /.sidebar-menu --> -->
</section>
<!-- /.sidebar -->
</aside>
{% endblock %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
<h1>
  Dashboard
  <small>Version 1.0</small>
</h1>
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
  <li class="active">Dashboard</li>
</ol>
</section>

<!-- Main content -->
<section class="content">

<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="ion ion-fireball"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Firewall Rules</span>
          <span class="info-box-number">{{ rulecount }}</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-server"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Hosts</span>
          <span class="info-box-number">{{hostcount}}</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-cubes"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Clusters</span>
          <span class="info-box-number">{{clustercount}}</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-globe"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Locations</span>
          <span class="info-box-number">{{locationcount}}</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
  </div>

</div>

<!-- ######################### SECOND ROW START ################################# -->
<script>
var doughnutProtoData = [
  {
    value: {{ badcount }},
    color:"#E9573F",
    highlight: "#FC6E51",
    label: "Failed Rules"
  },
  {
    value: {{ goodcount }},
    color: "#008d4c",
    highlight: "#00a65a",
    label: "Succesfull Rules"
  },

];
var doughnutData = [
  {
    value: {{ tcpcount }},
    color:"#30bbbb",
    highlight: "#39CCCC",
    label: "TCP Rules"
  },
  {
    value: {{ udpcount }},
    color: "#555299",
    highlight: "#605ca8",
    label: "UDP Rules"
  },
  {
    value: {{ icmpcount }},
    color: "#37BC9B",
    highlight: "#48CFAD",
    label: "ICMP Rules"
  },

];

window.onload = function(){
  var ctxproto = document.getElementById("chartProto").getContext("2d");
  window.myDoughnut = new Chart(ctxproto).Doughnut(doughnutData, {responsive : true});

  var ctx = document.getElementById("chartStatus").getContext("2d");
  window.myDoughnut = new Chart(ctx).Doughnut(doughnutProtoData, {responsive : true,});
}
</script>

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Rule Status</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div><!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-8">
                <div class="chart-responsive">
                  <canvas id="chartStatus" height="380" width="450" style="width: 225px; height: 190px;"></canvas>
                </div><!-- ./chart-responsive -->
              </div><!-- /.col -->
              <div class="col-md-4">
                <ul class="chart-legend clearfix">
                  <li><i class="fa fa-circle-o text-red"></i> Failed</li>
                  <li><i class="fa fa-circle-o text-green"></i> Successful</li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Protocol Statistics</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div><!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-8">
                <div class="chart-responsive">
                  <canvas id="chartProto" height="380" width="450" style="width: 225px; height: 190px;"></canvas>
                </div><!-- ./chart-responsive -->
              </div><!-- /.col -->
              <div class="col-md-4">
                <ul class="chart-legend clearfix">
                  <li><i class="fa fa-circle-o text-teal"></i> TCP</li>
                  <li><i class="fa fa-circle-o text-purple"></i> UDP</li>
                  <li><i class="fa fa-circle-o text-yellow"></i> ICMP</li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
    </div>
</div>

<!-- ######################### SECOND ROW END ################################# -->
<!-- ########################## THIRD ROW START ################################### -->

<div class="container">
  <div class="row">
    <div class="col-md-8">
              <!-- TABLE: LATEST ORDERS -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Latest Rule Updates</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive">
            <table class="table no-margin">
              <thead>
                <tr>
                  <th>Rule ID</th>
                  <th>Source</th>
                  <th>Destination</th>
                  <th>Port</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for rule in rule_list %}
                <tr>
                  <td>{{ rule.id }}</td>
                  <td>{{ rule.source }}</td>
                  <td>{{ rule.destination }}</td>
                  <td>{{ rule.port_number }}</td>
                  {% if rule.status %}
                  <td><span class="label label-success">Success</span></td>
                  {% else %}
                  <td><span class="label label-danger">Failed</span></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div><!-- /.table-responsive -->
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
          <a href="/rule/create" class="btn btn-sm btn-info btn-flat pull-left">Add New Rule</a>
          <a href="/rule/list" class="btn btn-sm btn-default btn-flat pull-right">View All Rules</a>
        </div><!-- /.box-footer -->
      </div><!-- /.box -->
    </div>

  </div>

</div>
<!-- ########################## THIRD ROW END ################################### -->
<!-- ########################## FOURTH ROW START ################################### -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
              <!-- MAP & BOX PANE -->
              <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">Network Graph</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <div class="pad">
                        <!-- Map will be created here -->
                        <div id="visualization" style="height: 500px;">
                        <script type="text/javascript">
                          // create an array with nodes
                        var nodes = [
                        {% for node in hosts %}
                          {id: {{node.id}}, label: '{{node.host_name}}', group: '{{node.host_name}}', shape: 'dot', title: 'IP Address: {{node.ip_address}}<br>Cluster:  {{node.cluster}}'},
                        {% endfor %}
                        ];

                        // create an array with edges
                        var edges = [
                        {% for rule in rule_list %}
                        {% if rule.status %}
                        {from: {{rule.source.id}}, to: {{rule.destination.id}},style: 'arrow', label: '{{rule.port_number}}/{{rule.connection_type}}',length: 500},
                        {% else %}
                        {from: {{rule.source.id}}, to: {{rule.destination.id}},style: 'dash-line', label: '{{rule.port_number}}/{{rule.connection_type}}',length: 500},
                        {% endif %}
                        {% endfor %}

                        ];

                        //var options = {
                        //width: '400px',
                        //height: '500px',
                        //stabilize: true,
                        //hierarchicalLayout: {
                        //  direction: 'UD'
                        //}
                        //};

                        //var options = {height: '500px', physics: {barnesHut: {gravitationalConstant: -8400, centralGravity: 0.65, springLength: 164, springConstant: 0.0227, damping: 0.3}}, smoothCurves: true};
                        var options = {height: '500px', physics: {barnesHut: {gravitationalConstant: -8400}}, smoothCurves: false};
                        // create a network
                        var container = document.getElementById('visualization');
                        var data = {
                        nodes: nodes,
                        edges: edges
                        };
                        var network = new vis.Network(container, data, options);
                        </script>
                        </div>
                      </div>
                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div><!-- /.box-body -->
              </div><!-- /.box -->

            </div>
  </div>

</div>

<!-- ########################## FOURTH ROW END ################################### -->




<!-- Your Page Content Here -->

</section><!-- /.content -->
</div><!-- /.content-wrapper -->
{% endblock %}
